<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SteamBotDoor/SteamBot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1285, 77}, {170, 129}}</string>
			<key>offset</key>
			<string>{-10, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 35}, {170, 129}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1285, 472}, {129, 262}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {129, 262}}</string>
			<key>sourceSize</key>
			<string>{129, 292}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1285, 208}, {135, 262}}</string>
			<key>offset</key>
			<string>{-6, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 14}, {135, 262}}</string>
			<key>sourceSize</key>
			<string>{148, 290}</string>
		</dict>
		<key>SteamBotDoor/WaterGauge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910, 847}, {103, 368}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 9}, {103, 368}}</string>
			<key>sourceSize</key>
			<string>{113, 387}</string>
		</dict>
		<key>SteamBotDoor/brokenBridge_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 608}, {483, 248}}</string>
			<key>offset</key>
			<string>{-8, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 12}, {483, 248}}</string>
			<key>sourceSize</key>
			<string>{500, 269}</string>
		</dict>
		<key>SteamBotDoor/burner.png</key>
		<dict>
			<key>frame</key>
			<string>{{486, 608}, {236, 100}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {236, 100}}</string>
			<key>sourceSize</key>
			<string>{237, 104}</string>
		</dict>
		<key>SteamBotDoor/corridorLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{1422, 445}, {486, 442}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {486, 442}}</string>
			<key>sourceSize</key>
			<string>{486, 447}</string>
		</dict>
		<key>SteamBotDoor/corridorRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1483, 1}, {486, 442}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {486, 442}}</string>
			<key>sourceSize</key>
			<string>{486, 447}</string>
		</dict>
		<key>SteamBotDoor/door_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 40}, {640, 566}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 566}}</string>
			<key>sourceSize</key>
			<string>{640, 566}</string>
		</dict>
		<key>SteamBotDoor/door_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 77}, {640, 565}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 565}}</string>
			<key>sourceSize</key>
			<string>{640, 565}</string>
		</dict>
		<key>SteamBotDoor/leftCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{588, 644}, {293, 341}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {293, 341}}</string>
			<key>sourceSize</key>
			<string>{293, 341}</string>
		</dict>
		<key>SteamBotDoor/leftPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{742, 1}, {739, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {739, 36}}</string>
			<key>sourceSize</key>
			<string>{739, 48}</string>
		</dict>
		<key>SteamBotDoor/playButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910, 445}, {400, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {400, 112}}</string>
			<key>sourceSize</key>
			<string>{400, 112}</string>
		</dict>
		<key>SteamBotDoor/rightCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{931, 644}, {293, 341}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {293, 341}}</string>
			<key>sourceSize</key>
			<string>{293, 341}</string>
		</dict>
		<key>SteamBotDoor/rightPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{742, 39}, {737, 36}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 7}, {737, 36}}</string>
			<key>sourceSize</key>
			<string>{742, 51}</string>
		</dict>
		<key>SteamBotDoor/rightPole.psd</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {739, 37}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 35}, {739, 37}}</string>
			<key>sourceSize</key>
			<string>{751, 107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>SteamBotDoor.png</string>
	</dict>
</dict>
</plist>
