<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SteamBotDoor/Bumper.png</key>
		<dict>
			<key>frame</key>
			<string>{{749, 2031}, {14, 297}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 297}}</string>
			<key>sourceSize</key>
			<string>{14, 297}</string>
		</dict>
		<key>SteamBotDoor/LeftLedge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1761, 393}, {130, 147}}</string>
			<key>offset</key>
			<string>{0, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 30}, {130, 147}}</string>
			<key>sourceSize</key>
			<string>{130, 186}</string>
		</dict>
		<key>SteamBotDoor/RightLedge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1880}, {130, 147}}</string>
			<key>offset</key>
			<string>{0, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 30}, {130, 147}}</string>
			<key>sourceSize</key>
			<string>{130, 186}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{503, 1781}, {129, 262}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {129, 262}}</string>
			<key>sourceSize</key>
			<string>{129, 292}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{366, 1781}, {135, 262}}</string>
			<key>offset</key>
			<string>{-6, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 14}, {135, 262}}</string>
			<key>sourceSize</key>
			<string>{148, 290}</string>
		</dict>
		<key>SteamBotDoor/WaterGauge.png</key>
		<dict>
			<key>frame</key>
			<string>{{645, 1676}, {103, 368}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 9}, {103, 368}}</string>
			<key>sourceSize</key>
			<string>{113, 387}</string>
		</dict>
		<key>SteamBotDoor/brokenBridge_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{634, 1781}, {483, 248}}</string>
			<key>offset</key>
			<string>{-8, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 12}, {483, 248}}</string>
			<key>sourceSize</key>
			<string>{500, 269}</string>
		</dict>
		<key>SteamBotDoor/burner.png</key>
		<dict>
			<key>frame</key>
			<string>{{1761, 1}, {236, 100}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {236, 100}}</string>
			<key>sourceSize</key>
			<string>{237, 104}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{634, 2031}, {113, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {113, 16}}</string>
			<key>sourceSize</key>
			<string>{113, 16}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{231, 2027}, {113, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {113, 16}}</string>
			<key>sourceSize</key>
			<string>{113, 16}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow03.png</key>
		<dict>
			<key>frame</key>
			<string>{{116, 2029}, {113, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {113, 16}}</string>
			<key>sourceSize</key>
			<string>{113, 16}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2029}, {113, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {113, 16}}</string>
			<key>sourceSize</key>
			<string>{113, 16}</string>
		</dict>
		<key>SteamBotDoor/corridorLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{1119, 1578}, {486, 442}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {486, 442}}</string>
			<key>sourceSize</key>
			<string>{486, 447}</string>
		</dict>
		<key>SteamBotDoor/corridorRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1187, 568}, {486, 442}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {486, 442}}</string>
			<key>sourceSize</key>
			<string>{486, 447}</string>
		</dict>
		<key>SteamBotDoor/door_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 1139}, {640, 566}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 566}}</string>
			<key>sourceSize</key>
			<string>{640, 566}</string>
		</dict>
		<key>SteamBotDoor/door_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1119, 1}, {640, 565}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 565}}</string>
			<key>sourceSize</key>
			<string>{640, 565}</string>
		</dict>
		<key>SteamBotDoor/gear02.png</key>
		<dict>
			<key>frame</key>
			<string>{{793, 1089}, {485, 487}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {485, 487}}</string>
			<key>sourceSize</key>
			<string>{489, 489}</string>
		</dict>
		<key>SteamBotDoor/half_leftPlatform.png</key>
		<dict>
			<key>frame</key>
			<string>{{1956, 103}, {91, 168}}</string>
			<key>offset</key>
			<string>{0, -16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 32}, {91, 168}}</string>
			<key>sourceSize</key>
			<string>{91, 200}</string>
		</dict>
		<key>SteamBotDoor/leftCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{791, 1}, {293, 341}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {293, 341}}</string>
			<key>sourceSize</key>
			<string>{293, 341}</string>
		</dict>
		<key>SteamBotDoor/leftPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1139}, {739, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {739, 36}}</string>
			<key>sourceSize</key>
			<string>{739, 48}</string>
		</dict>
		<key>SteamBotDoor/leftVial.png</key>
		<dict>
			<key>frame</key>
			<string>{{1631, 568}, {133, 290}}</string>
			<key>offset</key>
			<string>{-21, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 10}, {133, 290}}</string>
			<key>sourceSize</key>
			<string>{177, 314}</string>
		</dict>
		<key>SteamBotDoor/menuBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {640, 1136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>sourceSize</key>
			<string>{640, 1136}</string>
		</dict>
		<key>SteamBotDoor/menuItem.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 568}, {552, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {552, 146}}</string>
			<key>sourceSize</key>
			<string>{552, 146}</string>
		</dict>
		<key>SteamBotDoor/menuItemGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 1}, {552, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {552, 146}}</string>
			<key>sourceSize</key>
			<string>{552, 146}</string>
		</dict>
		<key>SteamBotDoor/menuItemGrey.png</key>
		<dict>
			<key>frame</key>
			<string>{{645, 1122}, {552, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {552, 146}}</string>
			<key>sourceSize</key>
			<string>{552, 146}</string>
		</dict>
		<key>SteamBotDoor/particle.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 1781}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 6}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>SteamBotDoor/playButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{791, 687}, {400, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {400, 112}}</string>
			<key>sourceSize</key>
			<string>{400, 112}</string>
		</dict>
		<key>SteamBotDoor/portableBurnerLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{905, 687}, {377, 139}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 17}, {377, 139}}</string>
			<key>sourceSize</key>
			<string>{377, 186}</string>
		</dict>
		<key>SteamBotDoor/portableBurnerRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046, 687}, {377, 139}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 17}, {377, 139}}</string>
			<key>sourceSize</key>
			<string>{377, 186}</string>
		</dict>
		<key>SteamBotDoor/rightCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{791, 344}, {293, 341}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {293, 341}}</string>
			<key>sourceSize</key>
			<string>{293, 341}</string>
		</dict>
		<key>SteamBotDoor/rightPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 1139}, {737, 36}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 7}, {737, 36}}</string>
			<key>sourceSize</key>
			<string>{742, 51}</string>
		</dict>
		<key>SteamBotDoor/rightVial.png</key>
		<dict>
			<key>frame</key>
			<string>{{1631, 703}, {129, 290}}</string>
			<key>offset</key>
			<string>{24, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48, 10}, {129, 290}}</string>
			<key>sourceSize</key>
			<string>{177, 314}</string>
		</dict>
		<key>SteamBotDoor/steam01.png</key>
		<dict>
			<key>frame</key>
			<string>{{133, 1781}, {244, 231}}</string>
			<key>offset</key>
			<string>{-3, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 9}, {244, 231}}</string>
			<key>sourceSize</key>
			<string>{253, 256}</string>
		</dict>
		<key>SteamBotDoor/wings.png</key>
		<dict>
			<key>frame</key>
			<string>{{1761, 103}, {288, 193}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7, 4}, {288, 193}}</string>
			<key>sourceSize</key>
			<string>{300, 202}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>SteamBotDoor.png</string>
	</dict>
</dict>
</plist>
