<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SteamBotDoor/SteamBot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1915, 403}, {170, 129}}</string>
			<key>offset</key>
			<string>{-10, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 35}, {170, 129}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1549, 260}, {129, 262}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 13}, {129, 262}}</string>
			<key>sourceSize</key>
			<string>{129, 292}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1285, 260}, {135, 262}}</string>
			<key>offset</key>
			<string>{-6, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 14}, {135, 262}}</string>
			<key>sourceSize</key>
			<string>{148, 290}</string>
		</dict>
		<key>SteamBotDoor/brokenBridge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1285, 1}, {640, 257}}</string>
			<key>offset</key>
			<string>{0, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 12}, {640, 257}}</string>
			<key>sourceSize</key>
			<string>{640, 269}</string>
		</dict>
		<key>SteamBotDoor/burner.png</key>
		<dict>
			<key>frame</key>
			<string>{{1813, 260}, {236, 100}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {236, 100}}</string>
			<key>sourceSize</key>
			<string>{237, 104}</string>
		</dict>
		<key>SteamBotDoor/door_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {640, 566}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 566}}</string>
			<key>sourceSize</key>
			<string>{640, 566}</string>
		</dict>
		<key>SteamBotDoor/door_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 1}, {640, 565}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 565}}</string>
			<key>sourceSize</key>
			<string>{640, 565}</string>
		</dict>
		<key>SteamBotDoor/playButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1927, 1}, {400, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {400, 112}}</string>
			<key>sourceSize</key>
			<string>{400, 112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>SteamBotDoor.png</string>
	</dict>
</dict>
</plist>
