<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SteamBotDoor/Bumper.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013, 1}, {7, 148}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {7, 148}}</string>
			<key>sourceSize</key>
			<string>{7, 148}</string>
		</dict>
		<key>SteamBotDoor/LeftLedge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 942}, {65, 74}}</string>
			<key>offset</key>
			<string>{0, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 15}, {65, 74}}</string>
			<key>sourceSize</key>
			<string>{65, 93}</string>
		</dict>
		<key>SteamBotDoor/RightLedge.png</key>
		<dict>
			<key>frame</key>
			<string>{{607, 245}, {65, 74}}</string>
			<key>offset</key>
			<string>{0, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 15}, {65, 74}}</string>
			<key>sourceSize</key>
			<string>{65, 93}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{607, 1}, {64, 132}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {64, 132}}</string>
			<key>sourceSize</key>
			<string>{64, 146}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{607, 67}, {67, 131}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {67, 131}}</string>
			<key>sourceSize</key>
			<string>{74, 145}</string>
		</dict>
		<key>SteamBotDoor/WaterGauge.png</key>
		<dict>
			<key>frame</key>
			<string>{{971, 344}, {52, 184}}</string>
			<key>offset</key>
			<string>{-2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {52, 184}}</string>
			<key>sourceSize</key>
			<string>{56, 193}</string>
		</dict>
		<key>SteamBotDoor/brokenBridge_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 893}, {241, 123}}</string>
			<key>offset</key>
			<string>{-4, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {241, 123}}</string>
			<key>sourceSize</key>
			<string>{250, 134}</string>
		</dict>
		<key>SteamBotDoor/burner.png</key>
		<dict>
			<key>frame</key>
			<string>{{607, 136}, {117, 50}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 50}}</string>
			<key>sourceSize</key>
			<string>{118, 52}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 970}, {56, 8}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 8}}</string>
			<key>sourceSize</key>
			<string>{56, 8}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 960}, {56, 8}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 8}}</string>
			<key>sourceSize</key>
			<string>{56, 8}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow03.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 950}, {56, 8}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 8}}</string>
			<key>sourceSize</key>
			<string>{56, 8}</string>
		</dict>
		<key>SteamBotDoor/burnerGlow04.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 940}, {56, 8}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 8}}</string>
			<key>sourceSize</key>
			<string>{56, 8}</string>
		</dict>
		<key>SteamBotDoor/corridorLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{546, 323}, {243, 221}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {243, 221}}</string>
			<key>sourceSize</key>
			<string>{243, 223}</string>
		</dict>
		<key>SteamBotDoor/corridorRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 323}, {243, 221}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {243, 221}}</string>
			<key>sourceSize</key>
			<string>{243, 223}</string>
		</dict>
		<key>SteamBotDoor/door_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{42, 571}, {320, 283}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 283}}</string>
			<key>sourceSize</key>
			<string>{320, 283}</string>
		</dict>
		<key>SteamBotDoor/door_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 1}, {320, 282}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 282}}</string>
			<key>sourceSize</key>
			<string>{320, 282}</string>
		</dict>
		<key>SteamBotDoor/gear02.png</key>
		<dict>
			<key>frame</key>
			<string>{{769, 1}, {242, 242}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {242, 242}}</string>
			<key>sourceSize</key>
			<string>{244, 244}</string>
		</dict>
		<key>SteamBotDoor/half_leftPlatform.png</key>
		<dict>
			<key>frame</key>
			<string>{{42, 893}, {45, 84}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 16}, {45, 84}}</string>
			<key>sourceSize</key>
			<string>{45, 100}</string>
		</dict>
		<key>SteamBotDoor/leftCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{371, 846}, {146, 170}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 170}}</string>
			<key>sourceSize</key>
			<string>{146, 170}</string>
		</dict>
		<key>SteamBotDoor/leftPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{22, 571}, {368, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {368, 18}}</string>
			<key>sourceSize</key>
			<string>{369, 24}</string>
		</dict>
		<key>SteamBotDoor/menuBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {320, 568}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 568}}</string>
			<key>sourceSize</key>
			<string>{320, 568}</string>
		</dict>
		<key>SteamBotDoor/menuItem.png</key>
		<dict>
			<key>frame</key>
			<string>{{402, 568}, {276, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {276, 73}}</string>
			<key>sourceSize</key>
			<string>{276, 73}</string>
		</dict>
		<key>SteamBotDoor/menuItemGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{477, 568}, {276, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {276, 73}}</string>
			<key>sourceSize</key>
			<string>{276, 73}</string>
		</dict>
		<key>SteamBotDoor/menuItemGrey.png</key>
		<dict>
			<key>frame</key>
			<string>{{327, 568}, {276, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {276, 73}}</string>
			<key>sourceSize</key>
			<string>{276, 73}</string>
		</dict>
		<key>SteamBotDoor/particle.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 980}, {19, 20}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {19, 20}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>SteamBotDoor/playButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{769, 507}, {200, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 56}}</string>
			<key>sourceSize</key>
			<string>{200, 56}</string>
		</dict>
		<key>SteamBotDoor/portableBurnerLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{769, 317}, {188, 70}}</string>
			<key>offset</key>
			<string>{0, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {188, 70}}</string>
			<key>sourceSize</key>
			<string>{188, 93}</string>
		</dict>
		<key>SteamBotDoor/portableBurnerRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{674, 245}, {188, 70}}</string>
			<key>offset</key>
			<string>{0, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {188, 70}}</string>
			<key>sourceSize</key>
			<string>{188, 93}</string>
		</dict>
		<key>SteamBotDoor/rightCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{519, 846}, {146, 170}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 170}}</string>
			<key>sourceSize</key>
			<string>{146, 170}</string>
		</dict>
		<key>SteamBotDoor/rightPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 571}, {369, 19}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 3}, {369, 19}}</string>
			<key>sourceSize</key>
			<string>{371, 25}</string>
		</dict>
		<key>SteamBotDoor/wings.png</key>
		<dict>
			<key>frame</key>
			<string>{{864, 245}, {145, 97}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 2}, {145, 97}}</string>
			<key>sourceSize</key>
			<string>{150, 101}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>SteamBotDoor.png</string>
	</dict>
</dict>
</plist>
