<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SteamBotDoor/Bumpers.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 22}, {320, 148}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 148}}</string>
			<key>sourceSize</key>
			<string>{320, 148}</string>
		</dict>
		<key>SteamBotDoor/SteamBot.png</key>
		<dict>
			<key>frame</key>
			<string>{{120, 453}, {85, 64}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 18}, {85, 64}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{557, 306}, {64, 132}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {64, 132}}</string>
			<key>sourceSize</key>
			<string>{64, 146}</string>
		</dict>
		<key>SteamBotDoor/SteamBot_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{203, 415}, {67, 131}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {67, 131}}</string>
			<key>sourceSize</key>
			<string>{74, 145}</string>
		</dict>
		<key>SteamBotDoor/WaterGauge.png</key>
		<dict>
			<key>frame</key>
			<string>{{371, 306}, {52, 184}}</string>
			<key>offset</key>
			<string>{-2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {52, 184}}</string>
			<key>sourceSize</key>
			<string>{56, 193}</string>
		</dict>
		<key>SteamBotDoor/brokenBridge_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{246, 172}, {241, 123}}</string>
			<key>offset</key>
			<string>{-4, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {241, 123}}</string>
			<key>sourceSize</key>
			<string>{250, 134}</string>
		</dict>
		<key>SteamBotDoor/burner.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 453}, {117, 50}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 50}}</string>
			<key>sourceSize</key>
			<string>{118, 52}</string>
		</dict>
		<key>SteamBotDoor/corridorLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 172}, {243, 221}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {243, 221}}</string>
			<key>sourceSize</key>
			<string>{243, 223}</string>
		</dict>
		<key>SteamBotDoor/corridorRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{742, 1}, {243, 221}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {243, 221}}</string>
			<key>sourceSize</key>
			<string>{243, 223}</string>
		</dict>
		<key>SteamBotDoor/door_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{372, 21}, {320, 283}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 283}}</string>
			<key>sourceSize</key>
			<string>{320, 283}</string>
		</dict>
		<key>SteamBotDoor/door_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{694, 224}, {320, 282}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 282}}</string>
			<key>sourceSize</key>
			<string>{320, 282}</string>
		</dict>
		<key>SteamBotDoor/leftCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{371, 360}, {146, 170}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 170}}</string>
			<key>sourceSize</key>
			<string>{146, 170}</string>
		</dict>
		<key>SteamBotDoor/leftPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{372, 1}, {368, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {368, 18}}</string>
			<key>sourceSize</key>
			<string>{369, 24}</string>
		</dict>
		<key>SteamBotDoor/playButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 395}, {200, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 56}}</string>
			<key>sourceSize</key>
			<string>{200, 56}</string>
		</dict>
		<key>SteamBotDoor/rightCorridor.png</key>
		<dict>
			<key>frame</key>
			<string>{{543, 372}, {146, 170}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 170}}</string>
			<key>sourceSize</key>
			<string>{146, 170}</string>
		</dict>
		<key>SteamBotDoor/rightPole.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {369, 19}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 3}, {369, 19}}</string>
			<key>sourceSize</key>
			<string>{371, 25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>SteamBotDoor.png</string>
	</dict>
</dict>
</plist>
